.section {
  /*Sets the height and width of the section */
  width: 200px;
  height: 200px
}

.blue-box {
  /* Sets font color */
  color: white;
  /* Sets background color */
  background-color: #0000ff;
}

.orange-box {
  /* Uses hex codes to define color */
  color: #0000ff;
  background-color: #ffa500;
}

#yellow-box {
  /* Uses predefined colors to define color */
  color: purple;
  background-color: yellow;
};
